body {
	font-family: "Comic Sans MS", cursive, sans-serif
}
/******** Header *********/
#header-nav {
	background: #999999;
	border-bottom: 1px solid #000;
}
.navbar-header a {
	text-decoration: none;
}
.navbar-header a h1 {
	font-family: Arial;
	color: #000;
	float: left;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a {
	border: 1px solid #999999;
	text-align: center;
	margin-bottom: 1px;
}
#nav-list a:hover {
	background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #000;
}
#collapsable-nav {
	border: 0;
	background: #F8EC99;
}
.navbar-toggle {
	margin-top: 18px;
}

/********* Header end ************/
/********* Main text ************/
#text-name {
	padding-bottom: 25px;
}
.main-text {
	background: #999999;
	width: 95%;
	padding-left: 10px;
	padding-right: 5px;
}


/********* End Main-text ********/
/********* Small ****************/
@media (min-width: 768px) and (max-width: 991px) {
	.main-text {
		width: 100%;
	}
	
}
/********* Extra-small *********/
@media (max-width: 767px) {
	#collapsable-nav a {
		font-size: 1.2em;
		color: #000;
	}
}